<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.greenever.payment.mapper.OpenAccountOnlineApplicationMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.greenever.payment.po.OpenAccountOnlineApplication">
        <id column="apply_id" property="applyId" />
        <result column="user_id" property="userId" />
        <result column="broker_id" property="brokerId" />
        <result column="from_app_id" property="fromAppId" />
        <result column="out_request_id" property="outRequestId" />
        <result column="auth_method" property="authMethod" />
        <result column="id_area" property="idArea" />
        <result column="id_type" property="idType" />
        <result column="id_sub_type" property="idSubType" />
        <result column="id_name" property="idName" />
        <result column="id_name_spell" property="idNameSpell" />
        <result column="id_name_en" property="idNameEn" />
        <result column="id_gender" property="idGender" />
        <result column="id_no" property="idNo" />
        <result column="id_addr" property="idAddr" />
        <result column="id_birth_date" property="idBirthDate" />
        <result column="id_start_time" property="idStartTime" />
        <result column="id_end_time" property="idEndTime" />
        <result column="id_front_uri" property="idFrontUri" />
        <result column="id_back_uri" property="idBackUri" />
        <result column="id_issuer" property="idIssuer" />
        <result column="addr_proof_uri" property="addrProofUri" />
        <result column="bank" property="bank" />
        <result column="bank_card_uri" property="bankCardUri" />
        <result column="bank_card_no" property="bankCardNo" />
        <result column="currency" property="currency" />
        <result column="bank_mobile_no" property="bankMobileNo" />
        <result column="bank_national_code" property="bankNationalCode" />
        <result column="mobile_no" property="mobileNo" />
        <result column="national_code" property="nationalCode" />
        <result column="email" property="email" />
        <result column="acc_type" property="accType" />
        <result column="stock_acc_type" property="stockAccType" />
        <result column="personal_info" property="personalInfo" />
        <result column="job_info" property="jobInfo" />
        <result column="finance_info" property="financeInfo" />
        <result column="invest_knowledge" property="investKnowledge" />
        <result column="invest_exp" property="investExp" />
        <result column="other_info_disclosure" property="otherInfoDisclosure" />
        <result column="biopsy_info" property="biopsyInfo" />
        <result column="signature_uri" property="signatureUri" />
        <result column="submit_time" property="submitTime" />
        <result column="ca_sign_uri" property="caSignUri" />
        <result column="opening_time" property="openingTime" />
        <result column="open_status" property="openStatus" />
        <result column="open_acc_flow_phase" property="openAccFlowPhase" />
        <result column="record_status" property="recordStatus" />
        <result column="lock_version" property="lockVersion" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        apply_id, user_id, broker_id, from_app_id, out_request_id, auth_method, id_area, id_type, id_sub_type, id_name, id_name_spell, id_name_en, id_gender, id_no, id_addr, id_birth_date, id_start_time, id_end_time, id_front_uri, id_back_uri, id_issuer, addr_proof_uri, bank, bank_card_uri, bank_card_no, currency, bank_mobile_no, bank_national_code, mobile_no, national_code, email, acc_type, stock_acc_type, personal_info, job_info, finance_info, invest_knowledge, invest_exp, other_info_disclosure, biopsy_info, signature_uri, submit_time, ca_sign_uri, opening_time, open_status, open_acc_flow_phase, record_status, lock_version, create_time, update_time
    </sql>

</mapper>
